---
openapi: "3.1.0"
info:
  title: My API
  description: |
    A personal endpoint that returns somethings about me and my interests.
    It could be my blog, reading list, projects, newsletter, social handle, or
    anything else that's relevant to me.
    This is intentionally minimal, intended to tell you that there is a human
    behind the API.
  version: "0.0.1"
  contact:
    name: Meet Gor
    url: https://meetgor.com

servers:
  - url: https://apis.meetgor.com
    description: Production server

tags:
  - name: Profile
    description: Personal profile and information endpoints

paths:
  /my:
    get:
      summary: Get my personal profile
      description: |
        Returns a lightweight profile card with my name, social handle,
        and website URL. Also includes a list of every endpoint nested
        under `/my` so you can discover what is available without
        leaving the response.

      operationId: getMyInfo
      tags:
        - Profile
      responses:
        "200":
          description: |
            A JSON object containing my profile information and a list
            of discoverable sub-endpoints under the /my namespace.
          content:
            application/json:
              schema:
                type: object
                required:
                  - name
                  - description
                  - endpoints
                  - info
                properties:
                  name:
                    type: string
                    description: Human-readable name of this API group.
                    example: My API
                  description:
                    type: string
                    description: Brief description of what this API offers.
                    example: Personal information and content APIs
                  endpoints:
                    type: array
                    description: |
                      Every available route under `/my`. Use this to
                      discover sub-APIs without reading external docs.
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                          description: The URL path for this endpoint.
                          example: /my/newsletter
                        description:
                          type: string
                          description: What this endpoint does.
                          example: Newsletter archive from RSS
                  info:
                    type: object
                    description: My personal profile card.
                    required:
                      - name
                      - handle
                      - website
                    properties:
                      name:
                        type: string
                        description: My full name.
                        example: Meet Gor
                      handle:
                        type: string
                        description: My social media handle.
                        example: "@meetgor"
                      website:
                        type: string
                        format: uri
                        description: My personal website.
                        example: https://meetgor.com
                  blogroll:
                    type: object
                    description: A curated set of external blogs and feeds I like reading.
                    properties:
                      total:
                        type: integer
                      items:
                        type: array
                        items:
                          $ref: "./components.yaml#/components/schemas/BlogrollEntry"

  /my/books:
    get:
      summary: List Goodreads shelves
      description: |
        Returns a filtered view of my public Goodreads bookshelf RSS
        feed. Use the `shelf` query parameter to focus on a specific
        shelf like `read`, `to-read`, `currently-reading`, or `tbr`.
      operationId: listGoodreadsBooks
      tags:
        - Profile
      parameters:
        - name: shelf
          in: query
          description: Shelf to filter by. `all` returns every item.
          schema:
            type: string
            default: all
            enum:
              - all
              - read
              - to-read
              - currently-reading
              - tbr
              - reading
        - name: limit
          in: query
          description: Number of items to return
          schema:
            type: integer
            default: 10
            maximum: 50
        - name: offset
          in: query
          description: Number of items to skip
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: Goodreads shelf list
          content:
            application/json:
              schema:
                type: object
                properties:
                  shelf:
                    type: string
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: "./components.yaml#/components/schemas/GoodreadsBookSummary"

  /my/books/reviews:
    get:
      summary: List Goodreads reviews
      description: |
        Returns books from the Goodreads RSS feed that have either a
        rating or a written review. This is the reviews-focused
        endpoint for the same user id.
      operationId: listGoodreadsReviews
      tags:
        - Profile
      parameters:
        - name: shelf
          in: query
          description: Shelf to filter by. `all` returns every reviewed item.
          schema:
            type: string
            default: all
            enum:
              - all
              - read
              - to-read
              - currently-reading
              - tbr
              - reading
        - name: limit
          in: query
          description: Number of items to return
          schema:
            type: integer
            default: 10
            maximum: 50
        - name: offset
          in: query
          description: Number of items to skip
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: Goodreads reviews
          content:
            application/json:
              schema:
                type: object
                properties:
                  shelf:
                    type: string
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: "./components.yaml#/components/schemas/GoodreadsBookReview"

  /my/thoughts:
    get:
      summary: List thought posts
      description: |
        Returns posts from the public RSS feed whose URLs live under
        `/thoughts/`.
      operationId: listThoughtPosts
      tags:
        - Profile
      parameters:
        - name: limit
          in: query
          description: Number of items to return
          schema:
            type: integer
            default: 10
            maximum: 50
        - name: offset
          in: query
          description: Number of items to skip
          schema:
            type: integer
            default: 0
        - name: search
          in: query
          description: Search by title or content
          schema:
            type: string
      responses:
        "200":
          description: Thought posts
          content:
            application/json:
              schema:
                type: object
                properties:
                  section:
                    type: string
                    example: thoughts
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: "./components.yaml#/components/schemas/BlogPostSummary"

  /my/blogs:
    query:
      summary: Query blog posts with rich filters
      description: |
        Uses the HTTP QUERY method (RFC 10008) to search and filter blog
        posts from the public RSS feed. Unlike the GET-based `/my/thoughts`
        and `/my/links` endpoints, this accepts a JSON body for expressive,
        multi-dimensional queries.

        The QUERY method is safe and idempotent — it can be cached, retried,
        and does not mutate any server state.
      operationId: queryBlogPosts
      tags:
        - Profile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./components.yaml#/components/schemas/BlogQuery"
      responses:
        "200":
          description: |
            Filtered blog posts matching the query, returned with
            pagination metadata.
          headers:
            Accept-Query:
              schema:
                type: string
              description: RFC 10008 — advertises supported QUERY media types
              example: application/json
          content:
            application/json:
              schema:
                type: object
                required:
                  - total
                  - limit
                  - offset
                  - items
                properties:
                  total:
                    type: integer
                    description: Total number of posts matching the query (before pagination)
                  limit:
                    type: integer
                    description: Maximum number of items returned
                  offset:
                    type: integer
                    description: Number of items skipped
                  items:
                    type: array
                    description: The matching blog posts
                    items:
                      $ref: "./components.yaml#/components/schemas/BlogPostSummary"
        "400":
          description: Invalid JSON body
        "415":
          description: Unsupported media type (Content-Type must be application/json)
        "422":
          description: Unprocessable query parameters
        "405":
          description: Method not allowed (only QUERY is accepted)

  /my/links:
    get:
      summary: List link posts
      description: |
        Returns posts from the public RSS feed whose URLs live under
        `/links/`.
      operationId: listLinkPosts
      tags:
        - Profile
      parameters:
        - name: limit
          in: query
          description: Number of items to return
          schema:
            type: integer
            default: 10
            maximum: 50
        - name: offset
          in: query
          description: Number of items to skip
          schema:
            type: integer
            default: 0
        - name: search
          in: query
          description: Search by title or content
          schema:
            type: string
      responses:
        "200":
          description: Link posts
          content:
            application/json:
              schema:
                type: object
                properties:
                  section:
                    type: string
                    example: links
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: "./components.yaml#/components/schemas/BlogPostSummary"

  /my/blogroll:
    get:
      summary: List curated blog feeds
      description: |
        Returns a hand-curated list of external blogs and RSS feeds
        selected from the people and sites I keep linking to.
      operationId: listBlogroll
      tags:
        - Profile
      parameters:
        - name: limit
          in: query
          description: Number of items to return
          schema:
            type: integer
            default: 10
            maximum: 50
        - name: offset
          in: query
          description: Number of items to skip
          schema:
            type: integer
            default: 0
        - name: search
          in: query
          description: Search by name, site, feed, or note
          schema:
            type: string
      responses:
        "200":
          description: Blogroll feeds
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    example: Blogroll
                  description:
                    type: string
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: "./components.yaml#/components/schemas/BlogrollEntry"

  /my/socials:
    get:
      summary: Get social link tree
      description: |
        Returns the personal social/profile link tree as a structured
        list of links.
      operationId: getSocialLinks
      tags:
        - Profile
      responses:
        "200":
          description: Social links
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  tree:
                    type: array
                    items:
                      $ref: "./components.yaml#/components/schemas/SocialLink"
